* {
    margin: 0;
    padding: 0;
}

a{
    text-decoration: none;
    color: #D3D3D3;
}

body{
    background-color: #000000;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 100%;
}

.container{
    margin: auto;
    width: 1200px;
    margin-top: 20px;
    padding: 10px;
}

nav{
    width: 300px;
    height: 500px;
    background-color: #4F4F4F;
    float: left;
    box-sizing: border-box;
    padding: 10px;
}

section{
    width: 870px;
    height: 500px;
    margin-left: 10px;
    float: left;
    background-color: #A9A9A9;
    box-sizing: border-box;
    padding-left: 10px;
}

h1{
    text-decoration-line: none;
    
    
}

ul.menu{
    list-style-type: none;
}

ul.menu li{
    width: 250px;
    height: 50px;
    line-height: 50px;
    background-color:#808080;
    color: #D3D3D3;
    margin-top: 5px;
    box-sizing: border-box;
    padding-left: 10px;

}

.btn{
    width: 100px;
    height: 30px;
    border: 1px solid #808080;
    background-color: #00008B;
    color: #D3D3D3;
}

.campo{
    width: 250px;
    height: 25px;
    border: 1px solid #808080;
    margin-bottom: 5px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    border: 2px solid #000;
    
}

.campo2{
    height: 16px;
    margin: 0 .25em 0 0;
    padding:0;
    vertical-align: top;
    width: 16px;
    border-radius:4px;
    border: 1px solid #5D5C5C;
    content: "\00a0";
    background: #A0A0A0;
    color: #FFF;
    content: "\2713";
    text-align: center;
    cursor: pointer;
}

.campo3{
    width: 250px;
    height: 25px;
    border: 1px solid #808080;
    margin-bottom: 5px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    border: 2px solid #000;
}

.select{
    width: 70px;
    height: 30px;
    border: 2px solid #000;
}

.select1{
    width: 100px;
    height: 30px;
    border: 2px solid #000;
}

.idade{
    width: 35px;
    height: 25px;
    border: 1px solid #808080;
    margin-bottom: 5px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    border: 2px solid #000;
}

.n{
    width: 45px;
    height: 25px;
    border: 1px solid #808080;
    margin-bottom: 5px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    border: 2px solid #000;
}

.img2{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 700px;
    height: 400px;
}

#divBusca{
    background-color: black;
    border-radius:10px;
    width:300px;
    height:32px;
  }
   
#txtBusca{
    float:left;
    
    padding-left:5px; 
    font-size:18px;
    border:none;
    height:32px;
    width:191px;
  }
   
#btnBusca{
    
    float:left;
    height:32px;
    border-radius:0 7px 7px 0;
    width:70px;
    font-weight:bold;
    background:#FFF;
    margin-top: -32px; 
    margin-left: 245px; 
    margin-right: 50px;
    border: 2px solid #000;
  }
   
  #divBusca img{
    float:left;
    width: 50px;
    height: 32px;
  }
  
  #date{
    border: 2px solid #000;
  }