<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Centro de Promoção da Igualdade Racial</title>
    <link rel="stylesheet" href="../css/style.css">
</head>
<body>
    <div class="container">
        <nav>
            <ul class="menu">
                <a href="index.html"><li>Início</li></a>
                <a href="cadastro.html"><li>Cadastro</li></a>
                <a href="consultas.html"><li>Consultas</li></a>
                <a href="agenda.html"><li>Agenda</li></a>
                <a href="login.html"><li>Sair</li></a>
            </ul>
        </nav>
        <section>
            <h1 class="h1">Agenda</h1>
            <hr><br><br>
            <h4>Cursos e Palestras no mês de Maio:</h4><br>
            <input type="date" id="date"><br><br><br><br><br><br><br><br><br><br><br><br> 
            <li>Palestra sobre o Estatuto da Igualdade Racial</li>
            <li>Curso manutenção de computadores</li>
            <li>Início das aulas de Judô</li>

            
        </section>
    </div>
</body>
</html>