<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Centro de Promoção da Igualdade Racial</title>
    <link rel="stylesheet" href="../css/style.css">
</head>
<body>
    <div class="container">
        <nav>
            <ul class="menu">
                <a href="index.html"><li>Início</li></a>
                <a href="cadastro.html"><li>Cadastro</li></a>
                <a href="consultas.html"><li>Consultas</li></a>
                <a href="agenda.html"><li>Agenda</li></a>
                <a href="login.html"><li>Sair</li></a>
            </ul>
        </nav>
        <section>
            <h1 class="h1">Consultas</h1>
            <hr><br><br>
           
            <div id="divBusca">
                <img src="../search4.png" alt="Buscar..."/>
                <input type="text" id="txtBusca" placeholder="Buscar Cadastro..."/>
                <button id="btnBusca">Buscar</button>
            </div>
            <br>
            <h3>Número de Cadastro: </h3> 46879
            <h4>Nome Completo: </h4> José de Assis
            <h4>Idade: </h4> 24
            <h4>Raça: </h4> Negro
            <h4>Sexo: </h4> Masculino
            <h4>Endereço: </h4> Rua Voluntários da Pátria
            <h4>Número: </h4> 113
            <h4>Complemento: </h4> 97
            <h4>Telefone: </h4> (85)998765432
            
        </section>
    </div>
</body>
</html>